$main-font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

// based on http://colorhunt.co/c/42237

$bg-color: #283739;
$main-text-color: #A9C525;
$emphasis-color: #228896;
$outline-color: #F5F5F5;

$outline-thickness: 4px;


// navbar - based loosely on http://www.w3schools.com/howto/howto_js_topnav.asp

$top-navbar-margin: 0;
$top-navbar-padding: 0;
$navbar-transition: 0.3s;
$navbar-font-size: 17px;

// basic page styles

body {
  background-color: $bg-color;
  color: $main-text-color;
  font-family: $main-font-family;
}

a {
  &:link {
    color: $emphasis-color;
  }
  &:visited {
    color: lighten($emphasis-color, 20%);
  }
  &:hover {
    color: lighten($emphasis-color, 40%);
  }
  &:active {
    color: $outline-color;
  }
}

// navbar default (full desktop size)

ul.top-navbar {
  list-style-type: none;
  margin: $top-navbar-margin;
  padding: $top-navbar-padding;
  overflow: hidden;
  background-color: $emphasis-color;

  li {
    float: left;
    a {
      display: inline-block;
      color: $outline-color;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: $navbar-transition;
      font-size: $navbar-font-size;

      &:hover {
        background-color: darken($emphasis-color, 10%);
      }
    }
    &.icon {
      display: none;
    }
  }
}

// navbar mobile/small screen styles

@media screen and (max-width: 680px){
  ul.top-navbar {
    li {
      &:not(:first-child) {
        display:none
      }
      &.icon {
        float: right;
        display: inline-block;
      }
    }
    &.responsive {
      position: relative;
      li {
        float: none;
        display: inline;
        &.icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        a {
          display: block;
          text-align: left;
        }
      }
    }
  }
}

// skills list


ul.skills-list {
  -webkit-margin-before: 0;
  -webkit-padding-start: 0;
  list-style: none;
  a {
    color: $bg-color;
  }
  li {
    padding: 4px 8px;
    background-color: $emphasis-color;
    color: $bg-color;
    &:nth-child(even) {
      background-color: $main-text-color;
    }
    .skill-name {
      font-size: 20px;
      span {
        font-weight: bolder;
        width: 40px;
      }
    }
    .skill-info {
      display: none;
      &.show {
        display: block;
      }
    }
  }
}