{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} | Emily Cain, Software Developer</title>

    <link rel="stylesheet" type="text/css" href="{% static 'emcain/css/emcain.css' %}" /></head>
<body>
<ul class="top-navbar">
    {% for key, value in nav.items %}
        <li><a href="{{ value }}">{{ key }}</a></li>
    {% endfor %}
    <li class="icon">
        <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
    </li>
</ul>
<h1>
    {% if title == "Home" %}
        Emily Cain
    {% else %}
        {{ title }}
    {% endif %}
</h1>

{% block content %}
{% endblock %}

<footer>&copy; 2016 Emily Cain | This site was built in Django - <a href="https://www.github.com/emcain/emcain_django">Source</a></footer>
</body>
</html>