{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width">
    <title>{{ title }} | Emily Cain, Software Developer</title>

    <link rel="stylesheet" type="text/css" href="{% static 'emcain/css/emcain.css' %}" />
    <script src="{% static 'emcain/js/navbar.js' %}"></script>
{% block head %}
{% endblock %}
</head>
<body>
<ul class="top-navbar">
    {% for key, value in nav.items %}
        <li><a href="{{ value }}">{{ key }}</a></li>
    {% endfor %}
    <li class="icon">
        <a href="javascript:void(0);" onclick="toggleNav()">&#9776;</a>
    </li>
</ul>
<h1>
    {% if title == "Home" %}
        Emily Cain
    {% else %}
        {{ title }}
    {% endif %}
</h1>

{% block content %}
{% endblock %}

<footer>&copy; 2016 Emily Cain | This site was built in Django - <a href="https://www.github.com/emcain/emcain_django">Source</a></footer>
</body>
</html>