{% extends 'base.html' %}

{% block head %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}

    <form role="form" action="" method="post">
        {% csrf_token %}
        {%  for field in form %}
            <label>{{ field.label }}{{ field.errors }}</label>
            {{ field }}
        {% endfor %}
        {{ form.non_field_errors }}
        <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}"></div>
        <button type="submit">{{ submit_phrase }}</button>
    </form>

{% endblock %}