{% extends 'base.html' %}

{% block content %}

    <a href="{{ proj.url }}">
    {% if proj.is_demo %}
        Demo
    {% else %}
        Project Site
    {% endif %}
    </a>

    <h3>Skills:
        {% for skill in proj.get_skills %}
            {% if not forloop.first %},
            {% endif %}
            {{ skill.name }}
        {%  endfor %}
    </h3>

    <p>{{ proj.description }}</p>

    <div class="screenshots">
    {% for image in imgs %}
        <img src="{{ image.url }}"/>
    {% endfor %}

    </div>
{% endblock %}